doctype html
html(lang='en')
  head
    title Feature Drift
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.css') 
    link(rel='stylesheet' type='text/css' href='/css/materializeBtn.css') 
    link(rel='stylesheet' type='text/css' href='/css/styles.css')
  body
    block content
