extends header.pug

block content
  div.container  
    div.row
      form(id='index-form' class='col s8 offset-s2' action='selectCategory' method='POST')
        div.row
          h3.col.s12 Select Reference Product
        div.row
          div.input-field.col.s8.offset-s2
            select(name='referenceProduct')
              option(value='' disabled selected) Choose your product
              option(value='Mobile Phones-Samsung S3') Mobile Phone - Samsung Galaxy S3 
            label Reference product
        div#indexCategoryDiv
          div.row
            h3.col.s12 Category of your product
            br
            span#indexCategory.col.s8.offset-s2 
          div#indexBtn.row
            button(class='btn waves-effect waves-light' type='submit') Next
              i(class='material-icons right') send
  include scripts.pug
  script(type='text/javascript' src='/js/index.js')
