extends header.pug

block content
  div.container
    h3 Related product(s):
    ul.collection
      each val in relatedProducts
        li(class="collection-item")
          h5.teal-text.lighten-2= val.productName
          p= val.modelName
    br
    div.row
      form(class='col s12' action='showUniqueFeature' method='POST')
        button(class='btn waves-effect waves-light' type='submit') Next
          i(class='material-icons right') send
  include scripts.pug
