extends header.pug

block content
  div.container
    h3 Related product(s):
    ul.collection
      each val in relatedProducts
        li(class="collection-item")
          h5.teal-text.darken-3= val.productName
          p.teal-text.lighten-3 Model: 
            span.black-text #{val.modelName}
          p.teal-text.lighten-3 Similarity: 
            span.black-text #{val.similarity}
    br
    div.row
      form(class='col s12' action='showUniqueFeature' method='POST')
        button(class='btn waves-effect waves-light' type='submit') Next
          i(class='material-icons right') send
  include scripts.pug
