extends header.pug

block content
  div.container
    h3 Select Category
    br
    form(action='selectProduct' method='POST')
      each val in categories
        p
          input(type='checkbox' class='filled-in' name='categories' id=val value=val) 
          label(for=val)= val
      button(class='btn waves-effect waves-light' type='submit') Next
        i(class='material-icons right') send
      br
      br
  include scripts.pug
  script(type='text/javascript' src='/js/selectCategory.js')
