extends categoryTreeViewHeader.pug

block content
  div#tree
    
  include scripts.pug
  script(type='text/javascript' src='/js/bootstrap-treeview.js')
  script(type='text/javascript' src='/js/selectProduct.js')
  
