extends header.pug

block content
  div.container
    h2 Word Cloud
    div#wordCloud
    div#wordCloudFinal
    br
    hr
    a(class='btn waves-effect waves-light' type='submit' href='secondRound') Next
      i(class='material-icons right') send
    br
    br
          
  include scripts.pug
  script.
    var wordCloudData = !{data};
  script(type='text/javascript' src='/js/d3.js')
  script(type='text/javascript' src='/js/d3.layout.cloud.js')
  script(type='text/javascript' src='/js/jquery-ui-1.12.1/jquery-ui.min.js')
  script(type='text/javascript' src='/js/wordCloud.js')
